<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
       <listener class-name="Utilility.ExtentReport"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/yogesh-21540/Downloads/PetstoreProject">
        <classes>
            <class name="testClasses.UserTest"/>
            <class name="testClasses.UserTest1"/>
            <class name="testClasses.UserTest2"/>
        </classes>
    </test>

</suite>